.ATL th{    
    background-color: #00dbc2;
    color: black;
}

.CRAB th{    
    background-color: #593037;
    color: #b05c6b;
}

.BOS th{    
    background-color: #9755a5;
    color: #f7d1ff;
}

.JAZZ th{    
    background-color: #6388ad;
    color: #f3ca40;
}

.CAN th{    
    background-color: #f5feff;
    color: #3b97d3;
}

.CHI th{    
    background-color: #8c2a3e;
    color: orange;
}

.CORE th{    
    background-color: #d13100;
    color: white;
}

.CHST th{    
    background-color: #ffce0a;
    color: #1e91cc;
}

.STK th{    
    background-color: #8c8d8f;
    color: #eb1223;
}

.TGRS th{    
    background-color: #5c1c1c;
    color: #e83622;
}

.FRI th{    
    background-color: #3ee652;
    color: white;
}

.HELL th{    
    background-color: #fffbab;
    color: black;
}

.SPY th{    
    background-color: #67556b;
    color: black;
}

.KCBM th{    
    background-color: #178f55;
    color: white;
}

.TACO th{    
    background-color: #64376e;
    color: #facf33;
}

.CDMX th{    
    background-color: #d15700;
    color: white;
}

.DALE th{    
    background-color: #9141ba;
    color: #17ac85;
}

.NYM th{    
    background-color: #ffd4d8;
    color: black;
}

.OHWO th{    
    background-color: #5c4822;
    color: #ba9c65;
}

.PIES th{    
    background-color: #399d8f;
    color: #ec970b;
}

.SEA th{    
    background-color: #2b4075;
    color: #ff2423;
}

.LVRS th{    
    background-color: #780018;
    color: #da0000;
}

.LIFT th{    
    background-color: #e830ab;
    color: #73feed;
}

.YELL th{    
    background-color: #bf0043;
    color: #ffff00;
}